---
clickhouse:
  hosts: ${clickhouse["network_interface"][0]["nat_ip_address"]}

vector:
  hosts: ${vector["network_interface"][0]["nat_ip_address"]}

lighthouse:
  hosts: ${lighthouse["network_interface"][0]["nat_ip_address"]}
